/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1rem;
  color: #fdfdfd;
  background-color: #000;
  background: linear-gradient(to Right, hsl(222, 76%, 14%), hsl(222, 76%, 3%) 20%, hsl(222, 76%, 3%) 80%, hsl(222, 76%, 14%)100%);
  /* background: linear-gradient(to top, hsl(222, 76%, 14%) 7.5rem, hsl(222, 76%, 3%) min(35%, 50rem), hsl(222, 76%, 0%) min(50%, 75rem)); */
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: inherit;
  text-decoration: underline;
}
a:visited {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
.social-media-list a:hover {
  text-decoration: underline;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

.site-footer a {
  color: hsl(45, 100%, 75%);
}


/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: 1000px;
  min-height: 100%;
  /* max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - 30px * 2); */
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #fdfdfd;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: rgb(62.9, 62.9, 62.9);
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
  background-color: rgb(247.3, 247.3, 247.3);
}
table th, table td {
  padding: 9.999999999px 15px;
}
table th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9;
}
table td {
  border: 1px solid #e8e8e8;
}

/**
 * Site header
 */
.site-header {
  background-color: hsl(214, 76%, 49%);
  background:
    linear-gradient(to bottom, rgb(30, 87, 220), hsl(222, 76%, 40%)) padding-box,
    linear-gradient(to bottom, hsl(222, 76%, 49%), hsl(222, 76%, 40%)) border-box;
  border-top: none;
  border-bottom: 0.4rem dashed hsl(222, 76%, 14%);
  min-height: 5rem;
  position: relative;
}

.site-title {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0.8rem;
  margin-bottom: 0;
  float: left;
}
.site-title, .site-title:visited {
  color: #fff;
  /* color: rgb(66.25, 66.25, 66.25); */
}

.site-nav {
  float: right;
  margin-top: 1.6rem;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #fff;
  /* line-height: 1.5; */
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    margin-top: 0rem;
    top: 1.1rem;
    right: 1.1rem;
    background-color: #fff;
    border: 0.2rem solid #2a7ae2;
    border-radius: 1rem;
    text-align: right;
  }
  .site-nav label[for=nav-trigger] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: rgb(66.25, 66.25, 66.25);
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    color: #111;
    margin-left: 20px;
    padding: 5px 10px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 0.4rem dashed hsl(222, 76%, 14%);
  background-color: #000;
  background:
    linear-gradient(to top, hsl(222, 76%, 4%) 0, #000 75%) padding-box,
    linear-gradient(to top, hsl(222, 76%, 4%) 0, #000 75%) border-box;
  padding: 2rem 0 0 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #fdfdfd;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - 30px / 2);
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - 30px / 2);
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - 30px / 2);
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - 30px / 2);
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1 0 100%;
}

.page-heading {
  font-size: 32px;
}

.post-list-heading {
  font-size: 28px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}





.home-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}



.home {
  flex: 1 1 100%;
}

.home h1 {
  color: hsl(222, 100%, 90%);
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.home h1 strong, .home h1 b {
  color: hsl(222, 100%, 100%);
}

.home h2 {
  color: hsl(222, 100%, 75%);
}

.pfp-main {
  float: right;
  width: 300px;
  height: 300px;
  border: 1px none;
  border-radius: 2rem;
}

@media screen and (max-width: 600px) {
  .pfp-main {
    float: inline-end;
    width: 50%;
    height: auto;
  }
}




.footnote {
  color: hsl(45, 100%, 75%) !important;
  font-size: smaller;
}

.reversefootnote {
  text-decoration: none !important;
}




.project-container {
  display: block;
  /* background-color: hsl(214, 38%, 5%); */
  background: 
    linear-gradient(to top, hsl(222, 76%, 30%) 20px, hsl(222, 38%, 5%) 400px) padding-box;
  /* border: solid 0.2rem transparent; */
  border-radius: 1rem;
  margin: 1rem 0rem 2rem;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.25), 0 0.6rem 2.5rem 0 rgba(0, 0, 0, 0.22);
}

.project-header {
  color: white !important;
  background-color: hsla(222, 76%, 40%, 1);
  background: 
    linear-gradient(to top, hsl(222, 76%, 45%), hsl(222, 76%, 50%)) padding-box;
  /* box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.5) inset; */
  /* display: flex;
  align-items: stretch;
  justify-content: space-between; */
  /* border-bottom: 0.2rem solid hsl(214, 76%, 50%); */
  border-radius: 1rem 1rem 0 0;
  padding: 0.8rem 1rem 0.8rem 1rem;
}



.project-date {
  float: right;
  height: max-content;
  font-size: 1.3rem;
  color: #fff;
  background-color: hsla(222, 76%, 35%, 1);
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.25) inset;
  border: none;
  border-radius: 2rem;
  margin: 0.5rem 0.2rem 0 0;
  padding: 0 0.2rem;
}

.project-content {
  background-color: hsl(222, 38%, 5%);
  background: 
    linear-gradient(to top, hsl(222, 76%, 25%) 20px, hsl(234, 76%, 5%) 400px) padding-box,
    linear-gradient(to top, hsl(222, 76%, 25%) 50px, hsl(222, 76%, 45%) 250px) border-box;
  border: solid 0.2rem transparent;
  border-radius: 0 0 1rem 1rem;
  border-top: none;
  padding: 1rem;
}

.project-content b, .project-content strong {
  color: hsl(222, 100%, 80%);
  font-weight: 700;
}

.project-content h1 {
  color: hsl(222, 100%, 75%);
  font-weight: 700;
  border-bottom: 0.25rem hsla(222, 76%, 45%, 0.75) solid;
}

.project-content h2 {
  color: hsl(222, 100%, 80%);
  font-weight: 700;
}

.project-content h3 {
  color: hsl(222, 100%, 80%);
  font-weight: 700;
}


.project-images-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  border-radius: 0.6rem;
  overflow: hidden;
}




@media screen and (max-width: 600px) {

  .project-date {
    font-size: 0.8rem;
  }

  .project-images-container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .project-images-container img{
    max-width: max-content;
    min-width: 250px;
  }
}










.project-list-preview {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.project-list-preview .project-container {
  margin: 0.5rem;
  padding: 1rem;
  background: 
    linear-gradient(to top, hsl(222, 76%, 30%) 20px, hsl(234, 76%, 5%) 400px) padding-box,
    linear-gradient(to top, hsl(222, 76%, 30%) 20px, hsl(222, 76%, 45%) 250px) border-box;
  border: solid 0.2rem transparent;
}

.project-list-preview > div {
  flex: 1 0 50%;
  margin: 0;
}
.project-list-preview > div:last-child {
  flex-grow: 0;
}

.project-list-preview a {
  text-decoration: none;
}

.project-preview-cover {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-preview-footer {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.project-preview-cover img, .project-preview-cover video {
  max-height: 250px;
}


.project-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}








/*
 * Partners Logos
 */
.partner-logos {
  margin: 0 -1rem -1rem -1rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 0.8rem;
}

.partner-logos .logo-container {
  flex: 1 1 0px;
}

.logo-container a {
  display: block;
  border: none;
  border-radius: 0.6rem;
  background-color: #fff;
  padding: 0.6rem;
  padding-top: auto;
  padding-bottom: auto;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .partner-logos {
    justify-content: center;
  }

  .partner-logos .logo-container {
    flex: 1 0 50%;
  }

  .logo-container img {
    display: block;
    border: none;
    border-radius: 0.6rem;
    background-color: #fff;
    padding: 0.6rem;
    padding-top: auto;
    padding-bottom: auto;
    margin: auto;
    height: unset;
    max-height: 120px;
    max-width: 230px;
  }
}
